<section class="container-fullscreen section-presentation">
    <div class="bg-color">
        <div class="row text-center title">
            <div class="col-sm-12">
                <h1>
                    Building ideas from bytes and code
                </h1>
                <p>
                    <em>
                        A single page application developed in Angular
                    </em>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="container-fullscreen section-presentation-description">
    <div class="bg-color text-white">
        <div class="row">
            <div class="col-sm-12 margin-b-35">
                <img src="https://avatars2.githubusercontent.com/u/10223975?s=460&v=4" alt="Vitor Menezes"
                    class="img-margin rounded-circle mx-auto d-block" height="150" width="150">
            </div>
        </div>
        <div class="row justify-content-sm-center">
            <div class="col-sm-6 margin-b-6rem text-justify">
                I started building static websites in high school, and since then I’ve developed expertise in software
                development and business analysis. Today I’m passionate about scalable applications powered by the
                cloud. I have a good combination of skills and experience that allows me to implement new ideas in many
                kinds of environments and also deliver well-constructed applications.
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-4 description-block">
                <div class="text-center">
                    <p>
                        <i class="fa fa-3x fa-server"></i>
                    </p>
                    <h5>
                        Software Architecture &amp; Development
                    </h5>
                </div>
                <p>
                    From designing an application's architecture through to developing the solution,
                     I have the expertise to go from conception to completion.
                </p>
            </div>
            <div class="col-sm-4 description-block">
                <div class="text-center">
                    <p>
                        <i class="fa fa-3x fa-tablet"></i>
                    </p>
                    <h5>
                        Mobile development &amp; Native solutions
                    </h5>
                </div>
                <p>
                    From new technologies like Futtler or existing ones like React Native,
                    I have the know-how to design and implement mobile solutions from scratch.
                </p>
            </div>
            <div class="col-sm-4 description-block">
                <div class="text-center">
                    <p>
                        <i class="fa fa-3x fa-cloud"></i>
                    </p>
                    <h5>
                        Cloud Deployment &amp; Cloud App 
                    </h5>
                </div>
                <p>
                    Getting to the cloud shouldn't be difficult. With scalable hosting
                    and continuous integration, I make deploying your application simple.
                </p>
            </div>
        </div>
    </div>
</section>