<app-page-title></app-page-title>
<section class="background-content container">
    <div class="row">
        <div class="col-sm-8" [innerHTML]="model.leftBlock">
        </div>
        <div class="col-sm-4">
            <div class="text-center">
                <div>
                    <img alt="Vitor Menezes" id="img-profile" src="#">
                </div>
                <div>
                    <p>
                        <strong>
                           {{model.messageContact}} 
                        </strong>
                    </p>
                </div>
                <a class="btn btn-primary" href="#">
                    {{model.buttonContact}} 
                </a>
            </div>
        </div>
    </div>

</section>