<app-page-title></app-page-title>
<section class="portfolio-content container">
    <div class="row">
        <div class="card-portfolio col d-flex justify-content-center">
            <div class="card" style="width: 270px;">
                <img class="card-img-top" src="\assets\web-portal-development-icon.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Portfolio 1</p>
                </div>
            </div>
        </div>
        <div class="card-portfolio col d-flex justify-content-center">
            <div class="card" style="width: 270px;">
                <img class="card-img-top" src="\assets\web-portal-development-icon.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Portfolio 2</p>
                </div>
            </div>
        </div>
        <div class="card-portfolio col d-flex justify-content-center">
            <div class="card" style="width: 270px;">
                <img class="card-img-top" src="\assets\web-portal-development-icon.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Portfolio 3</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card-portfolio col d-flex justify-content-center">
            <div class="card" style="width: 270px;">
                <img class="card-img-top" src="\assets\web-portal-development-icon.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Portfolio 1</p>
                </div>
            </div>
        </div>
        <div class="card-portfolio col d-flex justify-content-center">
            <div class="card" style="width: 270px;">
                <img class="card-img-top" src="\assets\web-portal-development-icon.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Portfolio 2</p>
                </div>
            </div>
        </div>
        <div class="card-portfolio col d-flex justify-content-center">
            <div class="card" style="width: 270px;">
                <img class="card-img-top" src="\assets\web-portal-development-icon.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Portfolio 3</p>
                </div>
            </div>
        </div>
    </div>
</section>