<app-page-title></app-page-title>

<section class="background-contact container">
    <div class="row">
        <div class="col-sm-8">

            <h2 id="contact-information">Contact information</h2>
            <p>Fill out all fields below to get in touch.
                Please, do not solicit your services.</p>

            <div class="container panel">
                <div>
                    <div class="row" *ngIf="checkStatusSent">
                        <div class="col form-group">
                            <div class="alert alert-success" role="alert">
                                Message sent!
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="checkStatusSent">
                        <div class="col form-group">
                            <button (click)="initialize()" class="btn btn-secondary">
                                <span id="activeMsg" *ngIf="checkStatusSent">
                                    <i class="fa fa-send-o"></i>
                                    Send another message?
                                </span>
                            </button>
                        </div>
                    </div>

                    <div class="row" *ngIf="!checkStatusSent">
                        <div class="col">
                            <div class="form-group">
                                <label>Your Name
                                    <input type="text" [formControl]="model.name" name="name" class="form-control"
                                        required="">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="!checkStatusSent">
                        <div class="col">
                            <div class="form-group">
                                <label>
                                    Your Email
                                    <input type="email" [formControl]="model.email" name="email" class="form-control" required="">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="!checkStatusSent">
                        <div class="col">
                            <div class="form-group">
                                <label class="text-area-box">
                                    Your Message
                                    <textarea name="message" [formControl]="model.message" class="form-control" required="" rows="6"></textarea>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngIf="!checkStatusSent">
                        <div class="col form-group">
                            <button (click)="sendData()" class="btn btn-primary">
                                <span id="activeMsg" *ngIf="checkStatusSend">
                                    <i class="fa fa-envelope-o"></i>
                                    Send Message
                                </span>
                                <span id="sendingMsg" *ngIf="checkStatusSending">
                                    <i class="fa fa-spinner fa-pulse"></i>
                                    Sending…
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-4 d-flex justify-content-center">
            <div class="card" style="width: 236px; height: 376px;">
                <img alt="Vitor Menezes" width="236" height="236" id="img-profile"
                    src="https://avatars2.githubusercontent.com/u/10223975?s=460&v=4">
                <div class="card-body text-center">
                    <h5 class="card-title">
                        <strong>
                            {{model.messageContact}}
                        </strong>
                    </h5>
                   <p>
                       {{model.thanksContact}}                        
                   </p>
                </div>
            </div>
        </div>
    </div>
</section>