/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;    
    font-family: helvetica neue,Helvetica,Roboto,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #0a0a0a;
    -webkit-font-smoothing: antialiased;
}

.header-lang a{
    cursor: pointer;
}

/* Header */
app-page-header{
    background-color: #f8f9fa !important
}

.page-title{
    background: #4682b4;
    color: #fefefe;
    padding: 2rem 0;
}

.page-title h1{
    font-size: 3em;
}

.page-title h4{
    font-size: 1.5625rem;
}

.nav-item {
    color: #4682b4 !important;
    cursor: pointer;
}

.nav-item:hover{
    color: #000 !important; 
}

.navbar{
    padding: 1.25em 0;
}

/* Main Content */

.background-content , .portfolio-content, .background-contact{
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #fefefe;
}

.background-contact .panel{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

.portfolio-content .card-body{  
    padding-top: 4rem;
    padding-bottom: 4rem; 
    bottom: 0;
    left: 0;
    background-color: #000;
    color: #fefefe;
    width: 100%;   
    padding: 1rem;
}

.portfolio-content .row .card-portfolio{   
    margin-bottom: 25px;
}

.space-between{
    margin-top: 4rem;
}

.background-contact .panel .text-area-box{
    width: 80%;
}

/* Footer */
footer{
    background: #1a1a1a;
    padding-top: 3.125em;
}

.footer{
    color: darkgray;
}

footer .copyright{
    border-top: #ccc .0625em solid;
    margin-top: .9375em;
    padding: .9375em 0;
    color: #999;
}

footer .img-margin {
    margin: 1.2em;
}

footer p:first {
    text-align: justify;
}

footer .container{
    margin-bottom: 1rem;
}