/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;    
    font-family: helvetica neue,Helvetica,Roboto,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #0a0a0a;
    -webkit-font-smoothing: antialiased;
}

.container-fullscreen{
    width: 100% !important;
    margin: 0 !important; 
    padding: 0 !important;   
}

.header-lang a{
    cursor: pointer;
}

/* Header */
app-page-header{
    background-color: #f8f9fa !important
}

.page-title{
    background: #4682b4;
    color: #fefefe;
    padding: 2rem 0;
}

.page-title h1{
    font-size: 3em;
}

.page-title h4{
    font-size: 1.5625rem;
}

.nav-item {
    color: #4682b4 !important;
    cursor: pointer;
}

.nav-item:hover{
    color: #000 !important; 
}

.navbar{
    padding: 1.25em 0;
}

.navbar-header span, a{
    cursor: pointer;
}

/* Main Content */

.background-content , .portfolio-content, .background-contact{
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #fefefe;
}

.background-contact .panel{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

.portfolio-content .card-body{  
    padding-top: 4rem;
    padding-bottom: 4rem; 
    bottom: 0;
    left: 0;
    background-color: #000;
    color: #fefefe;
    width: 100%;   
    padding: 1rem;
}

.portfolio-content .row .card-portfolio{   
    margin-bottom: 25px;
}

.space-between{
    margin-top: 4rem;
}

.background-contact .panel .text-area-box{
    width: 80%;
}

/* Home page */

.section-presentation {    
    background-image: url('/assets/software-development-icon.png');
    background-repeat: no-repeat;
    background-attachment: fixed;   
    background-size: 27.5rem;
    background-position: 50% 5.4rem;
}

.section-presentation .row{
    margin: 0 !important;     
}

.section-presentation .title {
    color: #fff; 
}

.section-presentation .bg-color{    
    background-color: rgba(1, 22, 53, 0.6);    
    padding: 10rem 0; 
}

.section-presentation-description .text-white{
    color: #fff; 
}

.section-presentation-description .row{
    margin: 0 !important;     
}

.section-presentation-description .bg-color{
    background-color:  rgba(1, 22, 53, 1);  
    padding: 5rem 8rem; 
}

.section-presentation-description .margin-b-35{
   margin-bottom: 35px;
}

.section-presentation-description .margin-b-6rem{
    margin-bottom: 6rem;
}

.section-presentation-description .description-block p{
    padding: 0 2rem;
    text-align: center;
}

.section-presentation-description .description-block h5, i{
    color: #b0c4de;
    font-weight: 700;
}

.section-portfolio .section-title{
    margin-bottom: 35px;
}

/* Footer */
footer{
    background: #1a1a1a;
    padding-top: 3.125em;
}

.footer{
    color: darkgray;
}

footer .copyright{
    border-top: #ccc .0625em solid;
    margin-top: .9375em;
    padding: .9375em 0;
    color: #999;
}

footer .img-margin {
    margin: 1.2em;
}

footer p:first {
    text-align: justify;
}

footer .container{
    margin-bottom: 1rem;
}